/* CSS declarations go here */
h1 {
    font-weight: bold;
    font-size: 150%;
    padding: 8px 6px;
    text-align: center;
}

h3 {
    font-size: 110%;
    padding: 8px 6px;
    text-align: center;
}

#apk {
    padding: 20px 6px;
    font-size: 200%;
    text-align: center;
    border: solid 2px #ddd;
    border-radius: 10px;
    background-color: #eee;
}

#apk .lowerbetter {
    padding: 20px 6px;
    font-size: 60%;
    text-align: center;
}

.row {
  margin-bottom: 20px;
}

#tablestyles {
	padding: 10px 10px;
	border: solid 1px #888;
    border-radius: 10px;
}

table {
  width: 100%;
}

.type {
	width: auto;
}
